################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.cache
*.ide-shm
*.ide-wal
*.dll
*.pdb
/halcon_me1/obj/Debug/halcon_me1.exe
